<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== BOX ICONS ===== -->
    <link rel="stylesheet" href="/public/icon/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- ===== CSS GENERAL ===== -->
    <link rel="stylesheet" href="/public/css/styles-general.css">
    <link rel="stylesheet" href="/public/css/header-nav.css">
    <title>Restaurante</title>
  </head>
  <body id="body-pd" class="body-pd overflow-auto">
      <%- include('../partials/header'); %> 
      <% switch(nom_tipousu) { 
        case 'Administrador': %> 
            <%- include('../partials/nav-administrador'); %>
        <% break; %> 
        <% case 'Mesero': %>
            <%- include('../partials/nav-mesero'); %> 
        <% break; %> 
        <% case 'Cajero': %>
            <%- include('../partials/nav-cajero'); %> 
        <% break; %> 
        <% case 'Cocinero': %>
            <%- include('../partials/nav-cocinero'); %> 
        <% break; %> 
        <% } %> 
      
    
    <main>

        <%- body %>
    </main>
    <%- include('../partials/footer'); %> 
    <%- include('../partials/script'); %> 
    <%- script %>
    
  </body>
</html>
