<link rel="stylesheet" href="/public/css/cajero-realizarPago.css"/>

<main>
    <div class="conteiner-fluid">
        <div class="row">
            <div class="col-md-8 p-0">
                <div class="shadow p-3 box-pedido">
                    <h3>Cuenta</h3>
                    <div class="box-orden ms-3">
                        <h5 class="mb-2">N° Orden: <%= ped[0].id_ped %></h5>
                        <div class="d-flex justify-content">
                            <p>Mesa: <%= id_mesa %></p>
                            <p class="ms-4">Mozo: <%= ped[0].nom_usu %></p>
                        </div>
                        <div class="box-detalle mb-2">
                            <p class="mb-2">Orden:</p>

                            <% for (let i = 0; i < det.length; i++){ %>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="me-2 ms-2 c-red"><%= i+1 %></p>
                                        <p><%= det[i].nom_prod %></p>
                                    </div>
                                    <p class=""><%= det[i].cantidad_det %></p>
                                    <p class=""><%= det[i].precio_u_prod %></p>
                                    <p class=""><%= det[i].subtotal %></p>
                                </div>
                            <% } %>
                        </div>
                        <div class="">
                            <p class="" style="font-size: 1.2rem;">Total: S/. <%= total %></p>
                        </div>
                        <div class="box-btn d-flex justify-content-center">
                            <button id="btnPago" class="btn btn-realizar me-3">Pagar</button>
                            <button class="btn btn-cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>